@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.btn-primary {
	@apply w-full bg-gray-500 text-white py-2 px-4 rounded-md hover:bg-gray-600 focus:outline-none focus:ring focus:border-blue-300;
}
.sidebar-links {
	display: flex;
	flex-direction: column;
	/* gap: 20px; */
	color: white;
}
.container {
	@apply px-4 sm:px-6 md:px-12 lg:px-20 xl:px-24 py-5;
}
